.card-container{
  padding: 40px;
  background: #fff;
  /* max-width: 360px;   */
  border-radius: 20px;
  margin-bottom: 20px;
  margin-top: 50px;
  box-shadow: 0 7px 30px -10px rgba(150,170,180,0.5);
}
